
<div id="popDiv" class="cpm" style="display:none;height:auto;">
    <label class="cpm-lable" id="labtxt"></label>
    <textarea type="text" id="CancelRequstBy" placeholder="Please input cancel requset by." style="display:none"></textarea>
    <p style="margin-top:45px;">
        <input style="display:none;" type="button" id="ok" class="btn btn-default " value="YES"  />
        <input style="display:none;" type="button" id="no" class="btn btn-default " value="NO"  />

    </p>
    <input type="button" class="btn btn-default" id="txtCloselbtn" onclick="closeDiv()" value="Close" />
</div>
<div id="bg" class="bg" style="display:none;"></div>