<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="ActiveReports11" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MvcMaxim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="OOSCommon.Properties.CarelabelPreviewSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LogPath" value="C:\Log\OnlineOrder\" />
    <add key="RunEnvironment" value="a" />
    <add key="WebSite" value="http://192.168.3.26:888" />
    <add key="PrivewRootDirectory" value="E:\printshop\previews" />
    <add key="ProductTempletRootDirectory" value="E:\printshop\templets" />
    <add key="Product_10_TempletRootDirectory" value="E:\printshop\templets\10_templets" />
    <add key="Bartend10_PS" value="A743BE0C-3DA0-DF11-9B6D-080027E8019F" />
    <add key="IsSendConfirmMail" value="True" />
    <add key="FromAddress" value="mis_oos@maxim-group.com.cn" />
    <add key="SHMailServiceUrl" value="http://192.168.3.58:999/MailSend.asmx" />
    <add key="WebSiteLocal" value="NSH" />
    <add key="ToAddress" value="mis_oos@maxim-group.com.cn" />
    <add key="NoVarProdPicPath" value="E:\NEWOOSWeb\OnlineOrderDefault\proImages\" />
    <add key="WebDocuments" value="D:\NEWOOSWeb\WebDocuments" />
    <add key="vs:EnableBrowserLink" value="false" />
    <add key="APName" value="OnlineOrder" />
    <add key="SessionTimeout" value="10" />
    <add key="PI2PdfChkFolder" value="E:\NEWOOSWEB\PIPdfPrintExe\Req\" />
    <add key="ActiveReports 11 License" value="bSYNGtwoWAUPuz37/          sZUv/RRt4D5jMLUhbQV0X5Ct2QUXRjl9ETukTaLe+r3VaOqg+IQPZXpxteExCJuezJOlNxvUyGuG2CGlHCod7b6dKGD5qOh5E7SQNLtAeN/ozU5jjSHd7Ch91KU9N2s8BTJbEeN3luydjLXXu5ivZ5gmiJ+rEv+dcw2VpOh7AqhFZiYlETh6Mp0Bu5LYcaxINoGs25G/fwFAjhZbEXQIoUQX74PWX97MKEosuqV+zPUeaYyqOtdoFbBc0M3YHBm+1rdI9yU2w4oH0NqNeoLtoh/CW6XG40/XhzqEQ==" />
    <add key="RFIDSeqQty" value="100000" />
    <!--RFID 流水号警戒值，少于这个值就回发送流水号不足的邮件-->
  </appSettings>
  <connectionStrings>
    <add name="OOSDBContext" connectionString="Data Source=192.168.3.26;Initial Catalog=OOSDB_VOE;User ID=sa;password=!QAZ2wsx;" />
    <add name="OOSMVCDBContext" connectionString="Data Source=192.168.3.26;Initial Catalog=OOS_MVC_VOE;User ID=sa;password=!QAZ2wsx;" />
    <add name="OOSReportDBContext" connectionString="Data Source=192.168.3.26;Initial Catalog=OOSDB_Report;User ID=sa;password=!QAZ2wsx;" />
    <add name="OOSDemoReportDBContext" connectionString="Data Source=192.168.3.26;Initial Catalog=OOSCRMPFReport_MVC_Test;User ID=sa;password=!QAZ2wsx;" />
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="GrapeCity.ActiveReports.Extensibility.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Chart.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Document.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Html.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Image.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <sessionState mode="InProc" timeout="60" />
    <httpModules></httpModules>
    <httpHandlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar11Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
    </httpHandlers>
    <authentication mode="None" />
    <!--<compilation debug="true" targetFramework="4.5"/>-->
    <!--<httpRuntime maxRequestLength="2147483647"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
    <handlers>
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" name="AsmxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar11" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_RpxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar11Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v11, Version=11.0.9161.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR11_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <!--500MB-->
        <requestLimits maxAllowedContentLength="500000000"></requestLimits>
      </requestFiltering>
    </security>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
        </staticContent>
  </system.webServer>
  <ActiveReports11>
    <WebService reportsFolder="~/" assemblyFolder="~/" />
  </ActiveReports11>
  <applicationSettings>
    <MvcMaxim.Properties.Settings>
      <setting name="MvcMaxim_MailSend_MailSend" serializeAs="String">
        <value>http://192.168.3.26:999/MailSend.asmx</value>
      </setting>
    </MvcMaxim.Properties.Settings>
    <OOSCommon.Properties.CarelabelPreviewSettings>
      <setting name="SettingFilePath" serializeAs="String">
        <value>E:\OOSApp_TSC\OOSArtworkCareLabel\Resources\Setting\</value>
      </setting>
      <setting name="ResourcesFilePath" serializeAs="String">
        <value>E:\OOSApp_TSC\OOSArtworkCareLabel\Resources\PDF\</value>
      </setting>
      <setting name="FontPath" serializeAs="String">
        <value>E:\OOSApp_TSC\OOSArtworkCareLabel\Resources\Fonts\</value>
      </setting>
    </OOSCommon.Properties.CarelabelPreviewSettings>
  </applicationSettings>
</configuration>
<!--ProjectGuid: {18DAD4CF-C241-4B6B-867D-C7651331F47A}-->