@using System.Data;
@using Maxim.Model.BaseModel
@model PIVendorInfo
@{
    ViewBag.Title = "PIVendorInf";
    Layout = null;
}
<div id="yemian">
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>PIVendorInf</title>
        <script src="~/scripts/jquery-1.10.2.js"></script>
        <script src="~/scripts/ERP/PIVendorInf.js"></script>
    </head>
    <body>
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box" id="form_wizard_1">
                  
                    <div id="portlet" class="portlet-body form">
                        <div id="Query">
                            <h3 class="form-section" style="text-align:center"></h3>
                            @*第一行*@
                            <div class="row-fluid">
                                <div class="span2 span2_hide">
                                    <div class="control-group">
                                        <label class="control-label" for="firstName"></label>
                                        <div class="controls">
                                        </div>
                                    </div>
                                </div>
                                <div class="span4 ">
                                    <span>请选择下单客户:</span>
                                    @Html.DropDownListFor(x => x.VendorID, Model.VendorList, new { @class = "m-wrap span8" })
                                </div>
                                <div class="span4 ">
                                    <span>BillNum:</span>
                                    <input type="text" class="m-wrap span8" name="CXBillNum" id="CXBillNum" />
                                </div>
                                <div class="span4 ">
                                    <span>BillName:</span>
                                    <input type="text" class="m-wrap span8" name="CXBillName" id="CXBillName" />
                                </div>
                                <div class="span4 ">
                                    <input type="button" name="CxKpByXd" id="CxKpByXd" class="btn" value="Search" />
                                </div>
                                <div class="span4 ">
                                    <input type="button" name="GoChange" id="GoChange" class="btn" value="返回" />
                                </div>
                            </div>
                        </div>
                        <div id="NR" style="display:none">
                            下单对应的开票客户:
                            <div class="portlet-body" id="Query-Results">
                                <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                                    <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="OrderDetail" aria-describedby="sample_2_info">
                                        <thead>
                                            <tr role="row">
                                                <th class="center">CustomerNo</th>
                                                <th class="center" style="display:none">CustomerId</th>
                                                <th class="center">操作</th>
                                                <th class="center">BillNumber</th>
                                                <th class="center">Name</th>
                                                <th class="center">Address1_Line1</th>
                                                <th class="center">Telephone1</th>
                                            </tr>
                                        </thead>
                                        <tbody class="BilltoInfo" role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                    </table>
                                </div>
                                <div class="row-fluid">

                                    <div class="span4">
                                        <div class="mypage">
                                            <ul>
                                                <li id="PageIndex"><<</li>
                                                <li id="Pageup"><</li>
                                                <li><input type="text" id="nowpage" value="1" /></li>
                                                <li>/</li>
                                                <li><i id="TotalPageCount">0</i></li>
                                                <li id="Pagewown">></li>
                                                <li id="PageLast">>></li>
                                                <li id="PageGO">GO</li>
                                                <li><input id="pc" name="pc" type="hidden" value=1><input id="PageTotalCount" name="PageTotalCount" type="hidden" value=1></li>
                                            </ul>
                                        </div>

                                    </div>
                                    @*导出Excel*@
                                    @*<div class="span4">
                        <button class="btn" type="submit" formaction="/Maintain/AccountExportExecl" id="btnExcel" name="btnExcel" style="border: 1px solid #D6D6D6;width: 170px;margin-left: 33%;margin-top: -2px;">Export to Excel<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>*@
                                </div>
                                <p onclick="GETeqId()"><input type="button" class="btn" id="AddBill" value="Add" /></p>
                            </div>

                            合并结果:<br />
                            <span style="font-size:18px">代号：</span>
                            <span class="text" id="CXDH" name="CXDH" style="font-size:25px"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span>选择下单信息抬头:</span>
                            <select class="m-wrap span2" id="selectTT_Xd" name="selectTT_Xd">
                                <option value="">--Please select--</option>
                            </select>
                            <span>选择开票PI抬头:</span>
                            <select class="m-wrap span2" id="selectTT" name="selectTT">
                                <option value="">--Please select--</option>
                            </select>

                            <div class="portlet-body">
                                <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">

                                    <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="OrderDetail" aria-describedby="sample_2_info">
                                        <thead>
                                            <tr role="row">

                                                <th class="center">BillInNo</th>
                                                <th class="center">BillName</th>
                                                <th class="center">BillAddress</th>
                                                <th class="center">Telephone1</th>
                                                <th class="center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody class="PIVnd_BilltoInfo" role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                    </table>
                                </div>
                                <div class="row-fluid">

                                   


                                </div>
                                <input type="button" class="btn" name="SaveBillZH" id="SaveBillZH" value="Save" />
                            </div>
                        </div>
                    </div>
                   
                </div>
                
            </div>
            
        </div>
    </body>
</html>
</div>

