
@{
    Layout = null;
}
<script src="~/scripts/Adolfo/BasePaperReport.js"></script>
@using (Html.BeginForm())
{

    <div class="row-fluid">
        <div class="span12">
            <div class="portlet box " id="form_wizard_1">
                <div class="portlet-title">

                    <div class="caption">
                        <em class="red-em" id="step1">Base Paper</em>
                        <em class="gray-em" id="step2" style="display:none;">Query Results</em>
                        <em class="gray-em" id="step_ViewDetail" style="display:none;">View Detail</em>
                        <em class="gray-em" id="step_ViewArtwork" style="display:none;">View Artwork</em>
                        <em class="gray-em" id="step_ViewShipOrder" style="display:none;">View Shipment</em>
                    </div>


                </div>

                <div class="portlet-body form">
                    <div action="#" class="horizontal-form">
                        <h1 id="chenshuo"></h1>
                        @*Table*@
                        <div class="portlet-body" id="Query-Results">
                            <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
                                <table class="table table-striped table-bordered table-hover table-full-width dataTable" id="Order">
                                    <thead>
                                        <tr role="row">
                                            <th class="center">Seq</th>
                                            <th class="center">LABELCODE</th>
                                            <th class="center">LabelDescription</th>
                                            <th class="center">PRINTSHOP_CHINA</th>
                                            <th class="center">PRINTSHOP_INDIA</th>
                                            <th class="center">PRINTSHOP_EUROPE</th>
                                            @*<th class="center">Artwork</th>*@
                                    </thead>



                                    <tbody role="alert" aria-live="polite" aria-relevant="all"></tbody>
                                </table>

                            </div>



                            @*分页*@
                            <div class="row-fluid" id="ExportExcel">

                                <div class="span4">
                                    <div class="mypage">
                                        <ul>
                                            <li id="PageIndex"><<</li>
                                            <li id="Pageup"><</li>
                                            <li><input type="text" id="nowpage" value="1" /></li>
                                            <li>/</li>
                                            <li><i id="TotalPageCount">60</i></li>
                                            <li id="Pagewown">></li>
                                            <li id="PageLast">>></li>
                                            <li id="PageGO">GO</li>
                                            <li><input id="pc" name="pc" type="hidden" value=1><input id="PageTotalCount" name="PageTotalCount" type="hidden" value=1></li>
                                        </ul>
                                    </div>

                                </div>

                                @*导出Excel*@
                                <div class="span4" style="display:none">
                                    <button class="btn" type="submit" formaction="/HydroFlask/OrderQueryForBrandExportExcel" id="btnExcel" name="btnExcel" style="border: 1px solid #D6D6D6;width: 170px;margin-left: 33%;margin-top: -2px;">Export to Excel<i class="m-icon-swapright m-icon-white"></i></button>
                                    @*<button type="button" class="btn" id="btnQuery" style="border: 1px solid #D6D6D6;width: 170px;margin-left: -14%;">Apply Filters</button>*@
                                </div>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
}