@using System.Data;
@using Maxim.Model.BaseModel
@model StockAdjustTracking
@{
    ViewBag.Title = "StockAdjustTracking";
    Layout = null;
}
<script type="text/javascript" src="~/scripts/Stock/StockAdjustTracking.js"></script>
<form method="post">
    <div id="all">
        <div class="span12">
            <div class="portlet box " id="xm">
                <div class="portlet-title">
                    <div class="caption">
                        <em class="red-em" id="step1">StockAdjustTracking(库存异动记录查询)</em>
                    </div>
                </div>
            </div>
        </div>
        @*第一行*@
        <div class="row-fluid">
            <div class="span2 span2_hide">
                <div class="control-group">
                    <label class="control-label" for="firstName"></label>
                    <div class="controls">
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <span>Product Category:</span>
                @Html.DropDownListFor(x => x.MaximProdCateName, Model.MaximProdCateNameList, new { @class = "m-wrap span8" })
            </div><div class="span4 ">
                <span>PrintShop:</span>
                @Html.DropDownListFor(x => x.PrintShop, Model.PrintShopList, new { @class = "m-wrap span8" })
            </div>
        </div>
        @*第二行*@
        <div class="row-fluid1">
            <div class="span2 span2_hide">
                <div class="control-group">
                    <label class="control-label" for="firstName"></label>
                    <div class="controls">
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <span>RefNO(相关单号):</span>
                <input type="text" id="RefOrderNO" name="RefOrderNO" class="m-wrap span8" style="background-color:#ffffff;" />
            </div><div class="span4 ">
                <span>StockType(类型):</span>
                @Html.DropDownListFor(x => x.OperateType, Model.OperateTypeList, new { @class = "m-wrap span8" })
            </div>
        </div>
        @*第三行*@
        <div class="row-fluid">
            <div class="span2 span2_hide">
                <div class="control-group">
                    <label class="control-label" for="firstName"></label>
                    <div class="controls">
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <span></span>
            </div><div class="span4 ">
                <span></span>
                <select id="type" class="m-wrap span8" style="background-color:#ffffff;display:none;"></select>
            </div>
        </div>
        @*第四行*@
        <div class="row-fluid">
            <div class="span2 span2_hide">
                <div class="control-group">
                    <label class="control-label" for="firstName"></label>
                    <div class="controls">
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <span>Product:</span>
                @Html.DropDownListFor(x => x.ProductCode, Model.ProductCodeList, new { @class = "m-wrap span8" })
            </div><div id="OperateDate" class="span4 ">
                <span>Order Date:</span>
                <input id="OperateDate1" name="OperateDate1" class="m-wrap m-ctrl-medium date-picker m-wrap span8" size="16" type="text" value="01/01/2017" style="background-color:#ffffff;" />~
            </div>
        </div>
        @*第五行*@
        <div class="row-fluid">
            <div class="span2 span2_hide">
                <div class="control-group">
                    <label class="control-label" for="firstName"></label>
                    <div class="controls">
                    </div>
                </div>
            </div>
            <div class="span4 ">
                <span></span>
            </div><div class="span4 ">
                <span></span>
                <input id="OperateDate2" name="OperateDate2" class="m-wrap m-ctrl-medium date-picker m-wrap span8" size="16" type="text" value="" style="background-color:#ffffff;" />
            </div>
        </div>
        @*查询和导出Excel表格按钮*@
        <div class="row-fluid" id="SaveAt">
            <div class="span3 span2_hide">
            </div>
            <div class="span3">
                <button type="button" id="Query" name="Query" class="btn btn-default" value="Query" onclick="QueryStockInfo()">Query</button>
                <button type="submit" id="SaveExcel" formaction="/Stock/StockAdjustTrackingExcel" name="SaveExcel" class="btn btn-default" value="">Export to Excel</button>
            </div>
        </div>
        <div id="Gridview" class="dataTables_wrapper form-inline" role="grid">
            <table id="ShowShipping" class="table table-striped table-bordered table-hover table-full-width dataTable" aria-describedby="sample_2_info">
                <thead>
                    <tr class="head">
                        <th class="center">seq</th>
                        <th class="center">Order Date</th>
                        <th class="center">OOS Order NO.</th>
                        <th class="center">Stock Operate Type(类型)</th>
                        <th class="center">PrintShop</th>
                        <th class="center">Brand</th>
                        <th class="center">Item Code</th>
                        <th class="center">Qty (PCS)</th>
                        <th class="center">Notes(备注)</th>
                        <th class="center">Other Notes(其他备注)</th>
                    </tr>
                </thead>
                <tbody id="DetailStockAdjustTracking"></tbody>
            </table>
            @*分页*@
            <div class="span4">
                <div class="mypage">
                    <ul>
                        <li id="PageIndex"><<</li>
                        <li id="Pageup"><</li>
                        <li><input type="text" id="nowpage" value="1" /></li>
                        <li>/</li>
                        <li><i id="TotalPageCount">0</i></li>
                        <li id="Pagewown">></li>
                        <li id="PageLast">>></li>
                        <li id="PageGO">GO</li>
                        <li><input id="pc" name="pc" type="hidden" value=1><input id="PageTotalCount" name="PageTotalCount" type="hidden" value=1></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</form>
