@using Resources
@{
    ViewBag.Title = "LOGderTracking";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta charset="utf-8" />
    <link href="../css/theme-cosmo.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet" />
    <link href="../css/GrapeCity.ActiveReports.Viewer.Html.css" rel="stylesheet" />
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <script src="../scripts/GrapeCity.ActiveReports.Viewer.Html.js"></script>
    <script type="text/javascript">
       function refresh()
       {
           $("#inProgress").css("display", "block");
           $("#SearchActive").removeAttr("disabled");
           $(".sidebar").css("display", "none");

           $("div[pname='PrintShop']").prevAll().text($OrderQueryForVendor.PrintShop);
           $("div[pname='MaximNO']").prevAll().text($OrderQueryForVendor.MaximNo);
           $("div[pname='CustomerPO']").prevAll().text($OrderQueryForVendor.Customer_PO);
           $("div[pname='Customer']").prevAll().text($OrderQueryForVendor.Vendor);
           $("div[pname='OrderDateStart']").prevAll().text($OrderQueryForVendor.OrderDate);
           $("div[pname='OrderStatus']").prevAll().text($OrderQueryForVendor.OrderStatus);
           $("div[pname='ETD']").prevAll().text($OrderQueryForVendor.ETD);
           $("div[pname='Style']").prevAll().text($OrderQueryForVendor.Style);
           $("div[pname='Season']").prevAll().text($OrderQueryForVendor.Season);
           $("div[pname='SO']").prevAll().text($OrderQueryForVendor.SO);
           $("div[pname='ServiceLevel']").prevAll().text($OrderQueryForVendor.ServiceLevel);
           $("div[pname='ReferenceNo']").prevAll().text($OrderQueryForVendor.ReferenceNo);
           $("#refresh-button").text($OrderQueryForVendor.ViewReport);

           if ($(".sidebar").css("display") == "block") {
               $("#Responsetype").css("height", "78%");
               $("#inProgress").css("height", "660px");
           }
           else {
               $("#Responsetype").css("height", "93%");
               $("#inProgress").css("height", "700px");
           }

       }
    </script>

</head>
<body>
    <label id="Language" style="display:none;">@ViewBag.Language</label>
    <label id="BrandId" style="display:none;">@ViewBag.BrandId</label>
    <form action="/Basicxx/VendorOrderTracking?_=1492414248739" method="post">
        <div class="row-fluid">
            <div class="span12">
                <div class="portlet box " id="form_wizard_1">
                    <div class="portlet-title">
                        <div class="caption">
                            <em class="red-em" id="step1">LOG ART</em>
                            <em class="gray-em" id="step2" style="display:none;">Query Results</em>
                            <em class="gray-em" id="step_ViewDetail" style="display:none;">View Detail</em>
                            <em class="gray-em" id="step_ViewArtwork" style="display:none;">View Artwork</em>
                            <em class="gray-em" id="step_ViewShipOrder" style="display:none;">View Shipment</em>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div id="viewer" style="height:700px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">
     $(function () {




        var searchURL = $("#ReportUrl").html();
        searchURL = searchURL.substring(1, searchURL.length);
        var ReportUrl = searchURL.split("&")[0].split("=")[1];

        var viewer = GrapeCity.ActiveReports.Viewer(
        {
            element: '#viewer',
            report: {
                id: "WebDocuments/OOSRptTpl/LogRptTpl/" + $("#BrandId").html() + "/" + ReportUrl,
                parameters:
                    [
                        {
                            name: 'Language',
                            value: $("#Language").html(),
                        }
                    ]
            },
            selectedReportIndex: 0,
            reportService: {
                url: '/ActiveReports.ReportService.asmx'
            },
            uiType: 'desktop',
            documentLoaded: function reportLoaded() {
                console.log(viewer.pageCount);
            },
            reportLoaded: function (reportInfo) {
                console.log(reportInfo.parameters);
                $("div[pname='PrintShop']").prevAll().text($OrderQueryForVendor.PrintShop);
                $("div[pname='MaximNO']").prevAll().text($OrderQueryForVendor.MaximNo);
                $("div[pname='CustomerPO']").prevAll().text($OrderQueryForVendor.Customer_PO);
                $("div[pname='Customer']").prevAll().text($OrderQueryForVendor.Vendor);
                $("div[pname='OrderDateStart']").prevAll().text($OrderQueryForVendor.OrderDate);
                $("div[pname='OrderStatus']").prevAll().text($OrderQueryForVendor.OrderStatus);
                $("div[pname='ETD']").prevAll().text($OrderQueryForVendor.ETD);
                $("div[pname='Style']").prevAll().text($OrderQueryForVendor.Style);
                $("div[pname='Season']").prevAll().text($OrderQueryForVendor.Season);
                $("div[pname='SO']").prevAll().text($OrderQueryForVendor.SO);
                $("div[pname='ServiceLevel']").prevAll().text($OrderQueryForVendor.ServiceLevel);
                $("div[pname='ReferenceNo']").prevAll().text($OrderQueryForVendor.ReferenceNo);
                $("#refresh-button").text($OrderQueryForVendor.ViewReport);
            },
            error: function (error) {
                console.log("error");
            }
        });
    });
    </script>
    <script type="text/javascript">
        $(function () {
            $(".sidebar").css("display", "block");
            $("#inProgress").css("display", "none");
            $("#gc-viewer-tab-params").attr("class", "tab-pane active");
            $("#gc-viewer-tab-search").css("display","none");
            $("#SearchActive").attr("disabled", "disabled");
            $("#SearchActive").click(function () {
                debugger;
                if ($(".sidebar").css("display") == "block")
                {
                    $("#Responsetype").css("height", "78%");
                    $("#inProgress").css("height", "660px");
                    $("#inProgress").css("display", "none");
                    $("#gc-viewer-tab-params").attr("class", "tab-pane active");
                }
                else
                {
                    $("#Responsetype").css("height", "93%");
                    $("#inProgress").css("height", "700px");
                }
            });
            $("#backToParent").click(function ()
            {
                $("div[pname='PrintShop']").prevAll().text($OrderQueryForVendor.PrintShop);
                $("div[pname='MaximNO']").prevAll().text($OrderQueryForVendor.MaximNo);
                $("div[pname='CustomerPO']").prevAll().text($OrderQueryForVendor.Customer_PO);
                $("div[pname='Customer']").prevAll().text($OrderQueryForVendor.Vendor);
                $("div[pname='OrderDateStart']").prevAll().text($OrderQueryForVendor.OrderDate);
                $("div[pname='OrderStatus']").prevAll().text($OrderQueryForVendor.OrderStatus);
                $("div[pname='ETD']").prevAll().text($OrderQueryForVendor.ETD);
                $("div[pname='Style']").prevAll().text($OrderQueryForVendor.Style);
                $("div[pname='Season']").prevAll().text($OrderQueryForVendor.Season);
                $("div[pname='SO']").prevAll().text($OrderQueryForVendor.SO);
                $("div[pname='ServiceLevel']").prevAll().text($OrderQueryForVendor.ServiceLevel);
                $("div[pname='ReferenceNo']").prevAll().text($OrderQueryForVendor.ReferenceNo);
                $("#refresh-button").text($OrderQueryForVendor.ViewReport);

                if ($(".sidebar").css("display") == "block")
                {
                    $("#Responsetype").css("height", "78%");
                    $("#inProgress").css("height", "660px");
                }
                else
                {
                    $("#Responsetype").css("height", "93%");
                    $("#inProgress").css("height", "700px");
                }
            });
        });
    </script>
</body>
</html>


